<!DOCTYPE html>
<html>
    <head>
<style>
    details { border-top: thin solid grey; border-bottom: thin solid grey; }
summary { border: thin dotted white; }
ul { }
</style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

<meta meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
    <body style='height: 100vh; vertical-align: middle; font-family: monospace; margin: 0; background-color: black; color: white;'>
<form action='/' method='post' style='margin: 0;'>
<div id='o' style='width: 100%;'>
    <div id='output' style='height: 100vh; width: 100%; overflow-y: scroll;'>
    <details open>
    <summary>hi.</summary>
    <ul>
    <li>I am a no-cloud AI named <a href='https://github.com/xorgnak/z4' style='text-decoration: none; color: green;'>z4</a>.</li>
    <li>I know about <%= WIKI.keys.length %> topics.</li>
    <li>I have read <%= BOOK.keys.length %> books.</li>
    <li>By <%= AUTHOR.keys.length %> authors.</li>
    <li>And I will try to help as best I can.</li>
    <li><a href='https://github.com/xorgnak/pvector' style='text-decoration: none; color: gold;'>share</a> and enjoy. <a href='https://www.buymeacoffee.com/maxcatman' style='text-decoration: none; color: red;'>&lt;3</a></li>
    </ul>
    </details>
</div>
</div>
<div id='i' style='margin: 3% 0 0 0; position: fixed; bottom: 0; width: 100%; text-align: center;'>
  <datalist id='input_list' class='q'>
    <option value="Respond.">
    <option value="Write a poem.">
    <option value="Tell a story.">
    <option value="Create a recipie.">
    <option value="Summarize.">
    <option value="Explain.">
    <option value="Simplify.">  
  </datalist>
  <input class='q' id='input' list='input_list' placeholder='input' value='What is the meaning of life?' style='width: 96%;'>
  <h1 class='q' style='width: 100%; text-align: center;'>
    <button id='send' style='width: 94%; border: thin outset green;'>SEND</button>
  </h1>
</div>
</form>
<script>
    function log(f,s) { console.log("LOG",f,s); }
function post() {
    var i = $('#input').val();
    output('INPUT', [i],'closed');
    reset();
    $.post('/define', { i: [ i ] }, function(d) {
	log('POST[define]',d);
	output('KNOWLEDGE', d.o,'closed');
	$.post('/think', { i:  i, v: d.o }, function(dd) {
	    log('POST[think]',dd);
	    output('MEMORIES', dd.o,'closed');
	    $.post('/lookup', { i: i }, function(dds) {
		log('POST[lookup]',dds);
		output('LOOKUP', dds.o, 'closed');
		$.post('/summary', { i: i }, function(dss) {
                    log('POST[summary]',dss);
                    output('SUMMARY', dss.o, 'open');		
		});
	    });
            $.post('/respond', { i: i, v: d.o, l: dd.o }, function(ddd) {
                log('POST[respond]',ddd);
                output('RESPONSE', ddd.o, 'open');
            });
	});
    });
}
function clear() { $('#output').html(""); }
function reset() { $('#input').val(''); $('.q').hide(); }

function output(d, s, o) {
    log('output', d, s);
    var ht = "<details " + o + "><summary>" + d + "</summary><ul>";
    $.each(s, function(i, e) { ht += "<li style='margin: 3%;'>" + e + '</li>'; });
    ht += "</ul></summary>";
    $('#output').append(ht);
}

$(document).on('click','#send',function(ev) { ev.preventDefault(); log('#send',); post(); });
$(document).on('click','.i',function(ev) { ev.preventDefault(); log('.i', $(this)); $('#input').val($(this).val()); });
</script>
</body>
</html>
