<!DOCTYPE html>
<html>
    <head>
<style>
    details { border-top: thin solid grey; border-bottom: thin solid grey; }
summary { border: thin dotted white; }
ul { }
a { text-decoration: none; border: thin solid white; border-radius: 500px; color: white; }
</style>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

<meta meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
    <body style='height: 100vh; vertical-align: middle; font-family: monospace; margin: 0; background-color: black; color: white;'>
<form action='/' method='post' style='margin: 0;'>
<div id='o' style='width: 100%;'>
    <div id='output' style='height: 100vh; width: 100%; overflow-y: scroll;'>
    <details open>
    <summary>hi.</summary>
    <ul>
    <li>I am a no-cloud AI named <a href='https://github.com/xorgnak/pvector' style='border-color: purple;'>zyphr</a>.</li>
    <li>I know about <%= WIKI.keys.length %> topics and have read <%= BOOK.keys.length %> books by <%= AUTHOR.keys.length %> authors.</li>
    <li>I am here to help.</li>
    <li><a href='https://propedicab.printify.me' style='border-color: red;'>&lt;3</a></li>
    </ul>
    </details>
</div>
</div>
<div id='i' style='margin: 3% 0 0 0; position: fixed; bottom: 0; width: 100%; text-align: center;'>
    <datalist id='q_list'>
    <% WIKI.keys.each do |e| %>
    <option value='<%= e %>'>
    <% end %>
</datalist>
    <datalist id='a_list'>
    <option value="Respond.">
    <option value="Write a poem.">
    <option value="Tell a story.">
    <option value="Create a recipie.">
    <option value="Summarize.">
    <option value="Explain.">
    <option value="Simplify.">  
    </datalist>
    <h1 style='width: 100%; text-align: center;'>
    <input class='q' id='q_input' list='q_list' style='width: 80%;' placeholder='query'>
    <input class='a' id='a_input' list='a_list' placeholder='input' style='width: 80%; display: none;'>
    <button id='send' style='border: thin outset green;'>&nbsp;</button>
  </h1>    
    
</div>
</form>
    <script>
    var context = "";
    function log(f,s) { console.log("LOG",f,s); }
function post() {
    var i = $('#q_input').val();
    output('INPUT', [i],'closed');
    reset();
    $.post('/define', { i: [ i ] }, function(d) {
	log('POST[define]',d);
	output('KNOWLEDGE', d.o,'closed');
	context += d.o.join(" ");
	$.post('/think', { i:  i, v: d.o }, function(dd) {
	    log('POST[think]',dd);
	    output('MEMORIES', dd.o,'closed');
	    context += dd.o.join(" ");
	    $.post('/lookup', { i: i }, function(dds) {
		log('POST[lookup]',dds);
		output('LOOKUP', dds.o, 'closed');
		$.post('/summary', { i: i }, function(dss) {
                    log('POST[summary]',dss);
                    output('SUMMARY', dss.o, 'open');
		    context += dss.o.join(" ");
		    $('#context').text(context);
		    //$('.a').show();
		    //$('#send').show();
		});
	    });
	});
    });
}

function init() {
    var i = $('#a_input').val();
    reset();
    $.post('/respond', { i: i, l: context }, function(ddd) {
                log('POST[respond]',ddd);
        output('RESPONSE', ddd.o, 'open');
	$('.a').hide();
	$('#send').hide();
        });    
}

function clear() { $('#output').html(""); }
function reset() { $('#input').val(''); $('.q').hide(); $('.a').hide(); }

function output(d, s, o) {
    log('output', d, s);
    var ht = "<details " + o + "><summary>" + d + "</summary><ul>";
    $.each(s, function(i, e) { ht += "<li style='margin: 3%;'>" + e + '</li>'; });
    ht += "</ul></summary>";
    $('#output').append(ht);
}

$(document).on('click','#send',function(ev) {
    ev.preventDefault();
    $('#send').hide();
    if (context === "") {
	post();
    } else {
	init();
    }
});

</script>
</body>
</html>
